html
    head
        title Users
    body
        form(method='POST' enctype='multipart/form-data' action='users/upload-avatar')
            input(type='file' name='avatar')
            input(type='submit')
        script(type='text/javascript' src='/script/users.js')

